[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
pillow = "*"
flask-mail = "*"
flask-script = "*"
flask-migrate = "*"
flask-whooshalchemy = "*"
"flask-s3" = "*"
"boto3" = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
py-dictutils = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3.6"
