certifi==2018.10.15
click==6.7
Flask==1.0.2
Flask-Caching==1.4.0
Flask-Classy==0.6.10
Flask-PyMongo==2.2.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pipenv==2018.10.13
pymongo==3.7.2
python-dotenv==0.9.1
SQLAlchemy==1.2.15
virtualenv==16.1.0
virtualenv-clone==0.4.0
Werkzeug==0.14.1
WTForms==2.2.1
