:root {
  --bokchoi-green: #37d26b;
  --bokchoi-lime: #84f02e;
  --offwhite: #fffffc;
  --bokchoi-nav: #2c5d30;
}

body {
  background: url('img/bg3.jpeg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #474242;
  font-family: 'Cantarell', sans-serif;
  padding-top: 4rem;
}

body:before {
  content: "";
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  /* background: rgba(0,0,0,.4); */
  background: rgba(188, 214, 140, 0.4);
  z-index: -5;
}

.dashboard {
  min-height: 20rem;
  margin-bottom: 2rem;
}

.bok-green {
  color: var(--bokchoi-green)
}

h6.bok-green {
  font-weight: bold;
}

/* ensures pagination always aligns bottom */
.home-section {
  min-height: 76vh;
}

header {
  margin-bottom: 1rem;
}

.test {
  transition: all 3s;
}

.navbar {
  box-shadow: 0px 1px 10px #5b5433;
}

.navbar-nav {
  align-items: center;
}

.dropdown-menu {
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-item {
  text-transform: capitalize;
  background-color: #edf7f2;
  color: #464a4a;
}

.dropdown-item:hover {
  color: #e9f9e8;
  text-decoration: none;
  background-color: var(--bokchoi-green);
}

.main-heading {
  color: var(--offwhite);
  text-transform: capitalize;
}

.sub-heading {
  color: var(--bokchoi-lime);
  text-transform: capitalize;
}

.avatar img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

span.navbar-toggler-icon {
  color: var(--offwhite);
  border-color: rgba(255,255,255,.1);
}

.navbar-toggler:hover {
  background: none;
  color: #ffffff;
}

.user-recipe{
  color: #d9e3e9;
  font-size: 1.5rem;
  font-weight: 400;
}

.bg-bokchoi {
  background-color: var(--bokchoi-nav);
}

.navbar-dark .navbar-brand {
  color: var(--bokchoi-green);
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-dark .navbar-brand:hover {
  color: var(--bokchoi-green);
}

.site-header .navbar-nav .nav-link {
  color: var(--bokchoi-green);
  text-transform: uppercase;
}

.site-header .navbar-nav .nav-link:hover {
  color:#dce0dc;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  opacity: .85;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.desc {
  font-weight: 600;
  color: #6b686a;
}

.bok-list {
  font-size: 0.8rem;
  color: #6b686a;
  font-weight: 400;
}

.lh-sp-80 {
  line-height: 80%;
}

.food-items {
  padding-left: 4px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 6rem;
  width: 6rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.account-heading {
  font-size: 1.5rem;
}

/* Post */
.heart {
  color: #e7069a;
}

.howto {
  min-height: 10rem;
}


/* green form */

.login-section  {
  margin-top: -2rem;
  height: 100vh;
  opacity: 0.9;
}

.register-section {
  margin-top: -2rem;
  opacity: 0.9;
}

.loginForm {
  margin-top: 3rem;
}

.bok-form {
  width: 60%;
  margin: 60px auto;
  background: #efefef;
  opacity: 0.85;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

ul#ingredient{
  padding: 0;
}

ul#ingredient li {
  list-style-type: none;
  border-bottom: 2px solid #BCBCBC;
}

label {
  display: block;
  position: relative;
  margin: 40px 0px;
}

.method {
  margin-top: 1rem;
  border: none;
  width: 100%;
  background: #efefef;
}

input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bokchoi-green);
  transition: ease .6s;
}

input:focus + .line-box .line {
  width: 100%;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}

.label-active {
  top: -3em;
}

.btn-success {
  background-color: var(--bokchoi-green);
  border-color: var(--bokchoi-green);
  max-height: 3rem;
}

button {
  display: inline-block;
  padding: 1rem 2rem;
  background: #b1b5b6;
  font-weight: bold;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

button:hover {
  background: var(--bokchoi-green);
  color: #ffffff;
}

.btn-success:focus {
  box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
   color: #fff;
   background-color: var(--bokchoi-green);
   border-color: var(--bokchoi-green);
}


/* upload button */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload {
  border: 2px solid #68b1ed;
  color: #f5a814;
  background-color: white;
  padding: .5rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/* end upload button */
/* end form style */


/* post style */
h3 .badge {
  font-size: .8rem;
}


/* Card Styles */

.grid {
	position: relative;
	max-width: 1000px;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 350px;
	max-width: 480px;
  max-height: 200px;
  /* max-height: 360px; */
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: capitalize;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	/* z-index: 1000; */
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h4 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h4,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Milo *****/
/*---------------*/

figure.effect-milo {
	background: #2e5d5a;
}

figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h4 {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: .5em .6em;
}

figure.effect-milo p {
	padding: 0 10px 0 0;
	width: 50%;
	border-right: 1px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hide {
  display: none;
}

.stat {
  color: var(--offwhite);
  margin-top: 2.5rem;
  /* margin-bottom: 0; */
}


/* Footer */

#footer {
    background: var(--bokchoi-green);
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
	padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}

#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}

#footer ul.social li a:hover{
	color:#eeeeee;
}

#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}

#footer ul.quick-links li a i{
	margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}



/* Extra Small devices  */
@media (max-width: 320px){
  .grid figure {
    min-width: 300px;
  }

  .welcome {
    margin-left: 1rem;
  }

  .avatar {
    display: none;
  }

  .navbar-nav a {
    border-bottom: 1px solid var(--offwhite);
  }
}

/* Small devices  */
@media (max-width: 576px){
  .bok-form {
    width: 90%;
    margin: 60px auto;
    padding: 20px 20px 50px 20px;
  }

  .grid figure {
    min-width: 300px;
  }

  .welcome {
    margin-left: 1rem;
  }

  .avatar {
    display: none;
  }

  .navbar-nav a {
    border-bottom: 1px solid var(--offwhite);
  }

  .dropdown-menu.show {
    transform: translate3d(-88px, 38px, 0px);
  }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .bok-form {
    width: 90%;
    margin: 30px auto;
    padding: 60px 80px 80px 80px;
  }

  .grid figure {
    min-width: 240px;
    max-height: 150px;
  }

  .main-heading {
    margin-left: 4rem;
  }

  .avatar {
    display: none;
  }

  .navbar-nav a {
    border-bottom: 1px solid var(--offwhite);
  }
}


/* Medium Devices */
@media (min-width: 768px) and (max-width: 991.98px) {

  .bok-form {
    width: 80%;
    margin: 30px auto;
    padding: 60px 120px 80px 120px;
  }

  .grid figure {
    min-width: 320px;
    max-width: 380px;
  }

  .site-header .navbar-nav .nav-link {
    font-size: 90%;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .grid figure {
    min-width: 350px;
  	max-width: 480px;
    max-height: 200px;
  }

  .site-header .navbar-nav .nav-link {
    font-size: 110%;
  }

  .dashboard {
    margin-top: 5rem;
  }
}

// XLarge devices (desktops, 1200px and up)
@media (min-width: 1200px)  {

  .dashboard {
    margin-top: 5rem;
  }
}
