{% extends "layout.html" %}
{% block content %}
  <form method="POST">
    {{ form.hidden_tag() }}
      <legend class="border-bottom mb-4 text-secondary">{{ legend }}</legend>
      <label>
        <p class="label-txt">Recipe Name</p>
        {% if form.title.errors %}
          {{ form.title(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.title(class="input") }}
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Description</p>
        {% if form.description.errors %}
          {{ form.description(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.description.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.description(class="method") }}
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Ingredient</p>
        {% if form.ingredient.errors %}
          {{ form.ingredient(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.ingredient.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.ingredient(class="method") }}
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Cooking Method</p>
        {% if form.howto.errors %}
          {{ form.howto(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.howto.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.howto(class="input method") }}
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Cooking time (minutes)</p>
        {% if form.cook_time.errors %}
          {{ form.cook_time(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.cook_time.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.cook_time(class="input method") }}
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Ethnicity</p>
        {% if form.ethnicity.errors %}
          {{ form.ethnicity(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.ethnicity.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.ethnicity(class="form-control form-control-lg is-invalid") }}
        {% endif %}
      </label>
      <label>
        <p class="label-txt">Course</p>
        {% if form.course.errors %}
          {{ form.course(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.course.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.course(class="form-control form-control-lg is-invalid") }}
        {% endif %}
      </label>
      <button type="submit">
        Post
      </button>
  </form>
{% endblock content %}
