{% extends "layout.html" %}
{% block content %}
  <section class="home-section row">
    <div class="col-xl-8">
      <h3 class="main-heading">{{ heading }} Recipes</h3>
      <div class="row content">
        {% for post in posts.items %}
          <article class="grid col-xs-12 col-sm-6 mb-2 col-md-6 col-lg-4">
      			<figure class="effect-milo">
      				<img src="{{ url_for('static', filename='post_pics/' + post.recipe_img) }}" alt="{{ post.title }}"/>
      				<figcaption>
      					<h4>{{ post.title }}</h4>
      					<p>{{ post.description }}</p>
      					<a href="{{ url_for('post', post_id=post.id) }}">View more</a>
      				</figcaption>
      			</figure>
      		</article>
        {% endfor %}
      </div>
    </div>
  </section>
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a class="btn btn-success mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-success mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}
