{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
    {% for post in posts.items %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' +     post.author.image_file) }}">
        <div class="media-body op">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">
              {{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="article-title"
            href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
          </h2>
          <p class="article-content">{{ post.ethnicity }}</p>
          <p class="article-content">{{ post.course }} Course</p
          <p class="article-content">{{ post.cook_time }} Minutes</p
          <p class="article-content">{{ post.howto }}</p>
          <i class="material-icons">favorite</i>
          <i class="material-icons">thumb_up</i>
          <i class="material-icons">thumb_down</i>
        </div>
      </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-success mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-success mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
