{% extends "layout.html" %}
{% block content %}
  <form method="POST" class="bok-form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
      <legend class="border-bottom mb-4 text-secondary">{{ legend }}</legend>
      <label>
        <p class="label-txt">Recipe Name</p>
        {% if form.title.errors %}
          {{ form.title(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.title(class="input") }}
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Description</p>
        {% if form.description.errors %}
          {{ form.description(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.description.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.description(class="method") }}
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Ingredients</p>
        {% if form.ingredient.errors %}
          {{ form.ingredient(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.ingredient.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.ingredient(class="") }}
        {% endif %}
      </label>
      <div class="row allergies pb-3">
        <div class="column-md-6">
          <div class="form-check">
            {{ form.vegan.label(class="form-check-label") }}
            {{ form.vegan(class="form-check-input") }}
          </div>
        </div>
        <div class="column-md-6">
          <div class="form-check">
            {{ form.vegetarian.label(class="form-check-label") }}
            {{ form.vegetarian(class="form-check-input") }}
          </div>
        </div>
        <div class="column-md-6">
          <div class="form-check">
            {{ form.nuts.label(class="form-check-label") }}
            {{ form.nuts(class="form-check-input") }}
          </div>
        </div>
        <div class="column-md-6">
          <div class="form-check">
            {{ form.shellfish.label(class="form-check-label") }}
            {{ form.shellfish(class="form-check-input") }}
          </div>
        </div>
        <div class="column-md-6">
          <div class="form-check">
            {{ form.meat.label(class="form-check-label") }}
            {{ form.meat(class="form-check-input") }}
          </div>
        </div>
      </div>
      <label>
        <p class="label-txt mt-3 mb-3">Cooking Method</p>
        {% if form.howto.errors %}
          {{ form.howto(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.howto.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.howto(class="input method") }}
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Cooking time (minutes)</p>
        {% if form.cook_time.errors %}
          {{ form.cook_time(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.cook_time.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.cook_time(class="input method") }}
        {% endif %}
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p>Ethnicity</p>
        {% if form.ethnicity.errors %}
          {{ form.ethnicity(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.ethnicity.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.ethnicity(class="form-control form-control-lg") }}
        {% endif %}
      </label>
      <label>
        <p>Course</p>
        {% if form.course.errors %}
          {{ form.course(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.course.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.course(class="form-control form-control-lg") }}
        {% endif %}
      </label>
      <div class="recipe-account ">
        {% if form.picture.errors %}
          {{ form.picture(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.picture.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          <img src="{{ image_file }}" class="img-fluid" alt="Responsive image">
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.picture.label() }}
        {{ form.picture(class="form-control-file") }}
        {% if form.picture.errors %}
          {% for error in form.picture.errors %}
            <span class="text-danger">{{ error }}</span></br>
          {% endfor %}
        {% endif %}
      </div>
      <button type="form.submit">
        Update
      </button>
  </form>
{% endblock content %}
